@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito", sans-serif;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold text-violet-700;
  }
  p {
    @apply mt-2 text-lg;
  }
  a {
    @apply text-blue-300 hover:text-blue-400;
  }
  button {
    @apply mt-2 bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-500 transition duration-200 drop-shadow;
  }
  section,
  article {
    @apply drop-shadow-sm;
  }

  article:nth-child(odd) {
    @apply bg-gray-200;
  }
  article:nth-child(even) {
    @apply bg-white;
  }
  article:nth-child(even) > div {
    @apply md:flex-row-reverse;
  }
  article:nth-child(even) .product-image {
    @apply md:pl-0 md:pr-10;
  }
}

.social-icon {
  width: 40px !important;
  height: 40px !important;
}
.social-icon {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.2));
}
.social-icon:hover {
  opacity: 0.8;
}
